html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.list {
    display: inline-block;
    margin: 0;
    /* flex-wrap: wrap;
    justify-content: flex-start; */
}

.Colors {
    width: 350px;
    height: 70px;
    margin: 10px 10px;
    background-color: rgb(74, 74, 212);
    list-style-type: none;
    text-align: left;
}

.Colors:first-of-type {
    background-color: yellow;
}

.Colors:last-of-type {
    background-color: green;
}

/* .Colors:nth-child(-n+3) {
    margin-top: 0;
} */

.Colors:nth-child(4n) {
    /* background-color: fuchsia; */
    margin-right: 0;
}

/* .Colors:hover .product_item {
    background-color: darkkhaki;
} */