html,
body {
    margin: 0;
    box-sizing: border-box;
}

a {
    display: inline-block;
    margin-right: 10px;
    color: lightblue;
}

/* Работа с псевдо классами!
a:link:hover {
    color: orange;
}

a:visited:hover {
    color:darkolivegreen;

a:not(.bing) {
    color: firebrick;
} */

/* "Это если указываем в скобках атрибут"
a:not([href="https://google.com"]) {
    color: firebrick;
} */

a[href="https://google.com"] {
    text-transform: uppercase;
}

a:not([target]) {
    color: firebrick;
}

input {
    border:none;
    border-bottom: 1px solid black;
    outline: none;
}

input:focus {
    border-bottom: 1px solid blue;
}

/* .products {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
} */

/* .product_item {
    width: 200px;
    height: 300px;
    margin-top: 20px;
} */

