html,
body {
    margin: 0;
    box-sizing: border-box;
}

a {
    display: inline-block;
    margin-right: 10px;
    color: lightblue;
    text-decoration: none;
}

/* Работа с псевдо элементами */
a::before {
    content: "@";
}

a::after {
    content: ">";
    margin-left: 10px;
}

/* Он почему-то у меня не сработал? (( */
a::selection {
    background-color: greenyellow;
    color:red;
}



/* Работа с псевдо классами!
a:link:hover {
    color: orange;
}

a:visited:hover {
    color:darkolivegreen;

a:not(.bing) {
    color: firebrick;
} */

/* "Это если указываем в скобках атрибут"
a:not([href="https://google.com"]) {
    color: firebrick;
} */

/* Ещё 2 варианта работы с ссылками и псевдоклассами
a[href="https://google.com"] {
    text-transform: uppercase;
}

a:not([target]) {
    color: firebrick;
}

input {
    border:none;
    border-bottom: 1px solid black;
    outline: none;
}

input:focus {
    border-bottom: 1px solid blue;
} */

.products {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.product_item {
    width: 280px;
    height: 200px;
    margin-top: 20px;
    margin-right: 20px;
    background-color: cornflowerblue;
}

.product_item:first-of-type {
    background-color: darkkhaki;
}

.product_item:last-of-type {
    background-color: darkgray;
}

.product_item:nth-child(-n+4) {
    margin-top: 0;
}

.product_item:nth-child(4n) {
    background-color: fuchsia;
    margin-right: 0;
}

.products:hover .product_item {
    background-color: darkkhaki;
}